@charset "UTF-8";

/* 초기화 */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@font-face {
  font-family: "DoHyeon-Regular";
    src: url('../media/Do_Hyeon/DoHyeon-Regular.eot');
    src: url('../media/Do_Hyeon/DoHyeon-Regular.eot?#iefix') format('embedded-opentype'),
        url('../media/Do_Hyeon/DoHyeon-Regular.woff2') format('woff2'),
        url('../media/Do_Hyeon/DoHyeon-Regular.woff') format('woff'),
        url('../media/Do_Hyeon/DoHyeon-Regular.ttf') format('truetype'),
        url('../media/Do_Hyeon/DoHyeon-Regular.svg#DoHyeon-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
 	font-family: "Nanum_Gothic";
    src: url('../media/Nanum_Gothic/NanumGothic.eot');
    src: url('../media/Nanum_Gothic/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('../media/Nanum_Gothic/NanumGothic.woff2') format('woff2'),
        url('../media/Nanum_Gothic/NanumGothic.woff') format('woff'),
        url('../media/Nanum_Gothic/NanumGothic.ttf') format('truetype'),
        url('../media/Nanum_Gothic/NanumGothic.svg#NanumGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 데스크탑 */
/* 어사이드 공지사항 슬라이더 */
.container aside {
  width: 100%;
  position: relative;
  top: 250px;
  min-width: 475px;
}
.container aside .noti-inner {
  background: url(../media/bg/noticebg.png) no-repeat center;
  background-size: 115% 300%;
  /* background-size: 105% 180%; */
  background-position: 45% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  overflow: hidden;
  position: relative;
}
.container aside .noti-inner .noti-wrap {
  width: 40.5%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 0 auto; */
}
.container aside .noti-inner .noti-wrap .notice {
  width: 100%;
}
.container aside .noti-inner .noti-wrap .notice a h1 {
  font-size: 3.5em;
}
.container aside .noti-inner .noti-wrap .notice a p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5rem;
  font-family: "Nanum_Gothic";
}
.container aside .noti-inner .noti-wrap .notice a p:last-child {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Nanum_Gothic";
}
/* transform으로 슬라이드 효과주기 */
.fadeInOut {
  animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.container aside .noti-inner button {
  height: 100%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
}
.container aside .noti-inner button span {
  padding: 1rem;
  color: #f0d061;
}
.container aside .noti-inner #next {
  right: 0;
}
.container aside .noti-inner button:hover > span {
  background-color: rgba(240, 208, 97, 0.3);
  border-radius: 50px;
  color: #22c7a9;
  transition: 0.5s;
}

/* 메인 */
.container main {
  width: 100%;
  position: relative;
  top: 250px;
  min-width: 480px;
}
.container main section {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.container main section h1 {
  font-size: 3rem;
  padding: 3rem 0;
}

/* 지역별 식당 */
.container main section:first-child {
  width: 100%;
  padding: 0 20%; /* 0 15%*/
}
.container main section:first-child>.articleWrap>article {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  gap: 58px; /*80px*/
  justify-content: center;
  text-align: center;
}
.container main section:first-child>.articleWrap {
  overflow: hidden;
}
.container main section:first-child>.articleWrap .cityRestSlidebox>form>button:last-child {
  padding-right: 3rem;
}
.container main section:first-child>.articleWrap>article>form .city .cityImg img {
  width: 100px;
  height: 100px;
}
/* 이달의 식당 */
.container main #sec2 { 
  padding: 0 20%; /* 0 15%*/
}
.container main #sec2 .sec-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.container main #sec2 .sec-wrap article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 0;
  height: 800px;
}
.container main #sec2 .sec-wrap article:not(:first-child) .res-photo {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  gap: 1rem;
}
.container main #sec2 .sec-wrap #art1 .res-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  gap: 1rem;
}
.container main #sec2 .sec-wrap #art1 .res-photo img {
  width: 400px;
  height: 280px;
}
.container main #sec2 .sec-wrap article .res-photo img {
  width: 280px;
  height: 400px;
}
.container main section:nth-child(2) .sec-wrap > article > .res-text {
  min-width: 440px;
}
.container main section:nth-child(2) .sec-wrap > article > .res-text:nth-child(2) {
  text-align: right;
}
.container main section:nth-child(2) .sec-wrap > article .res-text h2 {
  font-size: 7rem;
  line-height: 10rem;
}
.container main section:nth-child(2) .sec-wrap > article .res-text p {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Nanum_Gothic";
  line-height: 2.5rem;
}
.container main section:nth-child(2) .sec-wrap > article .res-text p:nth-child(2) {
  margin-bottom: 2rem;
}
.container main section:nth-child(2) .sec-wrap > article .res-text > form input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  font-size: 4rem;
  padding: 5rem 0;
  cursor: pointer;  
}
.container main section:nth-child(2) .sec-wrap > article .res-text > form input[type="submit"]:hover {
  color: #22c7a9;
  transition: 0.5s;
}
/* 이달의식당 마우스이벤트 */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* 새로운 식당 찾기 */
.container main section:nth-child(3) article {
  width: 100%;
  padding: 0 20%; /* 0 15%*/
  margin: 0 auto;
}
.container main section:nth-child(3) article .together {
  width: 60%;
  position: relative;
  display: flex;
  margin: 0 auto;
  background: url(../media/bg/bemyhost.png) no-repeat center;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}
.container main section:nth-child(3) article .together img {
  width: 100%;
  height: 95%;
  border-radius: 50px;
}
.container main section:nth-child(3) article .together input[type="submit"] {
  font-size: 4rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.5s ease-out;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}

/* 축제 */
.container main section:nth-child(4) {
  padding: 0 20%; /* 0 15%*/
}
.container main section:nth-child(4) .festival {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container main section:nth-child(4) .festival .festival-img1,
.container main section:nth-child(4) .festival .festival-img2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 .5rem;
}
.container main section:nth-child(4) .festival .festival-img1 img,
.container main section:nth-child(4) .festival .festival-img2 img {
  width: 500px;
  border-radius: 5% 5%;
  border: 1px solid #dddddd;
}
.container main section:nth-child(4) .festival h2 {
  font-size: 4rem;
}
.container main section:nth-child(4) .festival p a {
  font-size: 2rem;
}
.container main section:nth-child(4) .festival .domestic,
.container main section:nth-child(4) .festival .foreign {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}
.dome,
.fore {
  display: none;
}


